<p id="notice"><%= notice %></p>

<div class='article'>
  <div class='title'><%= @article.title %></div>
  <div class='info'>
    <%= @article.published_at.strftime("%Y-%m-%d") %>
     by 
    <%= @article.user.email.gsub(/@.+$/, '') %>
  </div>
  <div class='content'><%= @article.content %></div>
</div>
