<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %>
  or
  <%= link_to "Log In", login_path %>
<% end %>

<%= form_with(url: articles_path, method: :get) do |form| %>
  <div class="field">
    <%= form.label :keyword %>
    <%= form.text_field :keyword %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
